* {
    box-sizing: border-box;
}

body {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url('https://images2.alphacoders.com/116/thumb-1920-1160159.png') no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px)
}

.loading-text {
    font-size: 50px;
    color: black;
}